<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.palermo-paybot.script</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/flippackstation5/python_scripts/palermo_bot/dlvenv/bin/python</string>
        <string>/Users/flippackstation5/python_scripts/palermo_bot/find_orders.py</string>
    </array>
    <key>StartInterval</key>
    <integer>7200</integer>
    <key>StandardErrorPath</key>
    <string>/Users/flippackstation5/python_scripts/palermo_bot/find_orders.err</string>
    <key>StandardOutPath</key>
    <string>/Users/flippackstation5/python_scripts/palermo_bot/find_orders.out</string>
</dict>
</plist>
